body{
    background-color:rgba(112, 101, 101, 0.552)
}
.container {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form1{
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 25%;
    height: 150px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    position: relative;
}
.card{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: row, column;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}
.ncard{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
    margin: 10px;
    width: 20%;
    height: 200%;
}
.img{
    object-fit: contain;
    object-position: center;
    width: 100%;
}